.flexContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.movieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: wheat;
}

#G{
    border: 2px dotted green; 
}

#PG{
    border: 2px dotted yellow; 
}

#PG-13{
    border: 2px dotted orange; 
}

#R{
    border: 2px dotted red; 
}

.weather-today{
    display:flex;
    align-items: center;
    flex-flow: column;
}

.weather-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;  
}

.forecast-day{
    display: flex;
    flex-flow: column;
    align-items: center; 
    padding: 1rem;
    border: solid; 
    /* margin: 1rem; */
}