.flexContainer{
    display: flex;
    flex-wrap: wrap;
    
}

.movieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: wheat;
}

#G{
    border: 2px dotted green; 
}

#PG{
    border: 2px dotted yellow; 
}

#PG-13{
    border: 2px dotted orange; 
}

#R{
    border: 2px dotted red; 
}

.forecast-day{
    display: flex;
    flex-flow: wrap column;
    align-items: center; 
    padding: 1rem;
    border: solid; 
    margin: 1rem;
    width: 25%;
}